CompileFlags:
  Add: [
    "-isystem", "/home/finn/.pebble-sdk/SDKs/4.9.77/toolchain/arm-none-eabi/arm-none-eabi/include",
    "-I/home/finn/.pebble-sdk/SDKs/4.9.77/sdk-core/pebble/common/include",
    "-I/home/finn/.pebble-sdk/SDKs/4.9.77/sdk-core/pebble/emery/include",
    "-I/home/finn/mountainClock-pebble/build/include",
    "-I/home/finn/mountainClock-pebble/build/emery/src",

    "-DPBL_PLATFORM_EMERY",
    "-DPBL_COLOR", 
    "-DPBL_SDK_3",
    "-D_TIME_H_",
    "-std=c11",
    "--target=arm-none-eabi"
  ]
  Remove: [-mthumb, -mfloat-abi=soft, -fstack-usage, -W*] 

Diagnostics:
  Suppress: ["redefinition", "pp_file_not_found", "drv_unknown_argument"]